.header {
    height: 110px;

    padding: 10px 20px;
    background-color: #2196F3;
    position: absolute;
    top: 0;
}
.headContent h2,
.headUser p {
    color: white;
}
.headUser p a {
    color: white;
    cursor: pointer;
}
.sidebar-inner {
    position: fixed;
    top : 0
}

