body{

}
.row h1{
    text-align: center;
}
#form_login_admin,
#form_resign
{
    margin: 80px auto 10px;
    border: solid 1px #8c8c8c;
    border-radius: 4px;
}
.input_user{
    margin: 80px auto 20px;
}
#form_login_admin {
    width: 500px;
    min-height: 300px;
    height: auto;
}
#form_resign{

}
.DoB option{
    width:30px;
    height: 25px;
}